node_modules
.next
out
dist
coverage
playwright-report
test-results
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# TypeScript generated incremental build metadata
*.tsbuildinfo

# Next.js generated TypeScript environment declaration
next-env.d.ts
